.pagination-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: stretch;
	justify-content: space-between;
	column-gap: 50px;

	padding: 26px 47px 26px;
	border-bottom-left-radius: var(--size-border-radius-table);
	border-bottom-right-radius: var(--size-border-radius-table);
	border: 2px solid var(--border-base);
}
.description {
	font: var(--note-m);
	line-height: 1.3333;
	color: var(--text-description);
}
.pagination,
.pages {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	column-gap: 0.625rem;

	& > button {
		max-width: 40px;
	}
}
.page {
	height: 100%;
}
.svg_rotate180 {
	transform: rotateZ(180deg);

	& > path {
		fill: var(--text-light-primary);
	}
}
