.controls {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	column-gap: 50px;
}
.search {
	min-width: 502px;
}
.sort-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	column-gap: 20px;
}
.select {
	min-width: 320px;
}
