.search-select {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 10px;

	position: relative;
	min-width: 175px;
	padding: 14px 20px;
	border-radius: var(--size-border-radius-base);
	border: var(--size-border-width-base) solid var(--border-input);

	background-color: var(--background-input);

	font: var(--search-s);
	color: var(--text-base);
	cursor: pointer;
	user-select: none;

	transition: border-color var(--time-to-do) var(--type-effect);

	&:hover {
		border-color: var(--border-input-hover);
	}
	&:focus-within,
	&.open {
		border-color: var(--border-input-active);
	}
	&::placeholder {
		color: var(--text-placeholder);
	}
}
.placeholder {
	color: var(--text-placeholder);
}
.chevron {
	/* pointer-events: none; */
	transition: transform 0.2s ease;
}
.open .chevron {
	transform: rotate(180deg);
}
.options {
	position: absolute;
	top: calc(100% + 4px);
	left: 0;
	right: 0;
	max-height: 200px;
	margin: 0;
	padding: 0;
	border-radius: var(--size-border-radius-base);
	border: var(--size-border-width-base) solid var(--border-input);

	background-color: var(--background-input);
	overflow-y: auto;

	z-index: 200;
}
.option {
	padding: 8px 12px;
	cursor: pointer;
}
.option:hover {
	background: #f3f4f6;
}
.disabled {
	opacity: 0.5;
	pointer-events: none;
}
