:root {
	font-size: 1em;

	/* used colors */
	--black-25a: rgba(0, 0, 0, 0.25);

	--black: rgba(0, 0, 0, 1); /* #000000 */
	--dull-grey: rgba(100, 100, 100, 1); /* #646464 */
	--slate-grey: rgba(108, 118, 132, 1); /* #6C7684 */
	--pearl-dark-grey: rgba(132, 132, 132, 1); /* #848484 */
	--light-grey-darker: rgba(179, 179, 179, 1); /* #B3B3B3 */
	--light-grey: rgba(216, 216, 216, 1); /* #D8D8D8 */
	--forest-wolf: rgba(221, 217, 217, 1); /* #DDD9D9 */
	--gainsborough-darker: rgba(228, 228, 228, 1); /* #E4E4E4 */
	--gainsborough: rgba(231, 230, 230, 1); /* #E7E6E6 */
	--periwinkle-crayola: rgba(232, 235, 240, 1); /* #E8EBF0 */
	--pearl-white: rgba(232, 245, 233, 1); /* #E8F5E9 */
	--smoky-white-darker: rgba(241, 241, 241, 1); /* #F1F1F1 */
	--smoky-white-light-darker: rgba(245, 245, 245, 1); /* #F5F5F5 */
	--smoky-white: rgba(247, 247, 247, 1); /* #F7F7F7 */
	--white: rgba(255, 255, 255, 1); /* #FFFFFF */
	--red-burgundy: rgba(179, 0, 0, 1); /* #B30000 */
	--transport-red: rgba(207, 0, 0, 1); /* #CF0000 */
	--red: rgba(255, 0, 0, 1); /* #FF0000 */
	--deep-carmine-pink: rgba(239, 49, 36, 1); /* #EF3124 */
	--pink-lavender: rgba(255, 235, 238, 1); /* #FFEBEE */
	--blue-alice: rgba(227, 242, 253, 1); /* #E3F2FD */
	--denim-blue: rgba(21, 108, 198, 1); /* #156CC6 */
	--twitter-color: rgba(33, 150, 243, 1); /* #2196F3 */
	--cosmic-cream: rgba(255, 244, 230, 1); /* #FFF4E6 */
	--signal-orange: rgba(255, 152, 0, 1); /* #FF9800 */
	--bright-orange: rgba(255, 107, 0, 1); /* #FF6B00 */
	--transport-green: rgba(50, 138, 62, 1); /* #328A3E */
	--brilliant-green: rgba(76, 175, 80, 1); /* #4CAF50 */

	/* background */
	--background-base: var(--smoky-white);
	--background-icon-notification: var(--smoky-white-light-darker);
	--background-icon-notification-hover: var(--gainsborough);
	--background-icon-notification-active: var(--forest-wolf);
	--background-icon-badge: var(--red);
	--background-icon-danger-hover: var(--pink-lavender);
	--background-icon-primary-hover: var(--blue-alice);
	--background-avatar-img: var(--deep-carmine-pink);
	--background-avatar-card-hover: var(--smoky-white-darker);
	--background-avatar-card-active: var(--gainsborough-darker);
	--background-button-base: var(--white);
	--background-button-base-hover: var(--white);
	--background-button-base-active: var(--deep-carmine-pink);
	--background-button-danger: var(--red);
	--background-button-danger-hover: var(--transport-red);
	--background-button-danger-active: var(--red-burgundy);
	--background-input: var(--white);
	--background-table-row: var(--white);
	--background-table-row-hover: var(--gainsborough-darker);
	--background-table-row-active: var(--light-grey);
	--background-status-badge-primary: var(--blue-alice);
	--background-status-badge-progress: var(--cosmic-cream);
	--background-status-badge-success: var(--pearl-white);
	--background-status-badge-danger: var(--pink-lavender);

	/* border */
	--border-base: var(--periwinkle-crayola);
	--border-input: var(--periwinkle-crayola);
	--border-input-hover: var(--slate-grey);
	--border-input-active: var(--red-burgundy);
	--border-button-base: var(--periwinkle-crayola);
	--border-button-base-hover: var(--slate-grey);
	--border-button-base-active: var(--deep-carmine-pink);

	/* text */
	--text-base: var(--black);
	--text-light-base: var(--white);
	--text-description: var(--slate-grey);
	--text-placeholder: var(--light-grey-darker);
	--text-navigation: var(--slate-grey);
	--text-navigation-hover: var(--black);
	--text-navigation-active: var(--black);
	--text-button-base: var(--slate-grey);
	--text-button-base-hover: var(--slate-grey);
	--text-button-base-active: var(--white);
	--text-button-base-danger: var(--white);
	--text-active: var(--black);
	--text-active-hover: var(--deep-carmine-pink);
	--text-active-active: var(--transport-red);
	--text-status-badge-primary: var(--denim-blue);
	--text-status-badge-progress: var(--bright-orange);
	--text-status-badge-success: var(--transport-green);
	--text-status-badge-danger: var(--red);

	/* shadow  */
	--shadow-statistic-card: 0px 1px 0px 0px var(--black-25a) inset;

	/* sizes */
	--size-border-width-base: 1px;
	--size-border-radius-base: 7px;
	--size-border-radius-icon-base: 7px;
	--size-row-gap-on-page: 30px;

	/* fonts */
	--fs-base-s: clamp(0.5rem, 0.409rem + 0.45vw, 0.75rem);
	--base-s: 400 var(--fs-base-s) / 1 'Noto Sans';
	--fs-base-m: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
	--base-m: 500 var(--fs-base-m) / 1 'Noto Sans';
	--fs-base-l: clamp(0.625rem, 0.534rem + 0.45vw, 0.875rem);
	--base-l: 600 var(--fs-base-l) / 1 'Noto Sans';

	--fs-search-s: clamp(0.625rem, 0.534rem + 0.45vw, 0.875rem);
	--search-s: 400 var(--fs-search-m) / 1 'Noto Sans';
	--fs-avatar-m: clamp(0.625rem, 0.534rem + 0.45vw, 0.875rem);
	--avatar-m: 500 var(--fs-avatar-m) / 1 'Noto Sans';
	--fs-note-m: clamp(0.625rem, 0.443rem + 0.91vw, 1.125rem);
	--note-m: 500 var(--fs-note-m) / 1 'Noto Sans';
	--fs-big-number-m: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
	--big-number-m: 500 var(--fs-big-number-m) / 1 'Noto Sans';
	--fs-navigation-m: clamp(0.625rem, 0.489rem + 0.68vw, 1rem);
	--navigation-m: 500 var(--fs-navigation-m) / 1 'Noto Sans Display';
	--fs-badge-m: clamp(0.5rem, 0.409rem + 0.45vw, 0.75rem);
	--badge-m: 500 var(--fs-badge-m) / 1 'Noto Sans Display';
	--fs-button-l: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
	--button-l: 600 var(--fs-button-l) / 1 'Noto Sans';
	--fs-paggination-l: clamp(0.875rem, 0.739rem + 0.68vw, 1.25rem);
	--paggination-l: 600 var(--fs-paggination-l) / 1 'Noto Sans';

	--fs-header-m: clamp(1.25rem, 1.068rem + 0.91vw, 1.75rem);
	--header-m: 500 var(--fs-header-m) / 1.175 'Noto Sans';

	/* effects */
	--time-to-do: 0.3s;
	--type-effect: ease-in-out;

	/* indent */
	/* --horizontal-padding: clamp(2.25rem, -3.417rem + 11.81vw, 10.75rem);
	--padding-x-employee: clamp(1.5rem, -4.667rem + 12.85vw, 10.75rem); */
}
.dark {
	/* content */

	/* backgroung */

	/* shadow  */
}

/* connect fonts */
/* Noto_Sans */
@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/Noto_Sans/NotoSans_Condensed-Regular.woff2')
			format('woff2'),
		url('../fonts/Noto_Sans/NotoSans_Condensed-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/Noto_Sans/NotoSans_Condensed-Medium.woff2')
			format('woff2'),
		url('../fonts/Noto_Sans/NotoSans_Condensed-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/Noto_Sans/NotoSans_Condensed-SemiBold.woff2')
			format('woff2'),
		url('../fonts/Noto_Sans/NotoSans_Condensed-SemiBold.woff')
			format('woff');
	font-weight: 600;
	font-style: normal;
}
/* Noto_Sans_Display */
@font-face {
	font-family: 'Noto Sans Display';
	src: url('../fonts/Noto_Sans_Display/NotoSansDisplay_Condensed-Medium.woff2')
			format('woff2'),
		url('../fonts/Noto_Sans_Display/NotoSansDisplay_Condensed-Medium.woff2')
			format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Noto Sans Display';
	src: url('../fonts/Noto_Sans_Display/NotoSansDisplay_Condensed-SemiBold.woff2')
			format('woff2'),
		url('../fonts/Noto_Sans_Display/NotoSansDisplay_Condensed-SemiBold.woff')
			format('woff');
	font-weight: 600;
	font-style: normal;
}

/* my reset */
h1 {
	font: var(--header-m);
	font-style: normal;
	color: var(--text-base);
}
a {
	cursor: pointer;
}
p {
	font: var(--base-m);
	font-style: normal;
	color: var(--text-base);
}
img,
svg {
	user-select: none;
}
svg {
	flex-shrink: 0;
}

/* main css */
body {
	background: var(--background-base);

	font: var(--base-m);
}
body,
#root,
.App {
	min-height: 100vh;
}
.App {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	max-width: 90rem;
	margin: 0 auto;
	background-color: var(--background-base);
}
