.active-text {
	color: var(--text-active);

	transition: color var(--time-to-do) var(--type-effect);

	&:hover {
		color: var(--text-active-hover);
	}
	&:active {
		color: var(--text-active-active);
	}
}
